<br>
<div class='container'> 
  <h4> ### ALL TASKS ### </h4>
    <ul>
      <% @tasks.each do |task| %>
      <li><%= task.id %>. <%= link_to task.title, task_path(task) %>: <%= task.details %></li>
      <% end %>
    </ul>
  <h4> ############### </h4>
</div>
